<div class="container">
  <h3>My Bookings</h3>
</div>

<div class="cards container mt-5">
  <% @bookings.each do |booking| %>
  <div class="card-body">
    <h5>Booking Schedule</h5>
    <p><strong>Check-In:</strong><br><%= "#{(booking.start_date).strftime('%b %dth, %Y %H:%M')}"%></p>
    <p><strong>Check-Out:</strong><br><%= "#{(booking.end_date).strftime('%b %dth, %Y %H:%M')}"%></p>
    <p><strong>Status:</strong> <%= "#{booking.status ? "Confirmed" : "Pending"}"%></p>
    <div class="edit-booking">
      <p>EDIT<i class="far fa-edit"></i></p>
      <p>CANCEL<i class="far fa-window-close"></i></p>
    </div>
  </div>
  <% end %>
</div>
<div class = "container mt-5">
  <%= link_to studios_path, class: "btn btn-dark" do %>
    <i class="fas fa-long-arrow-alt-left">See more studios</i>
  <% end %>
</div>


