<div class="footer">
  <div class="footer-about">
    <p>About</p>
    <p>Privacy</p>
    <p>Terms of Use</p>
  </div>
  <div class="footer-middle">
    <h5>StudioFind</h5>
    <p>Copyright ©2021 StudioFind </p>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>