<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/963486/pexels-photo-963486.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1><i class="fas fa-home banner-icon"></i>StudioFind</h1>
    <p>Discover new studios in your neighborhood</p>
    <div class="input-group banner-search">
      <input type="search" class="form-control rounded" placeholder="Location" aria-label="Search"
        aria-describedby="search-addon" />
        <%= link_to studios_path do %>
      <button type="button" class="btn btn-dark">find</button>
      <% end %>
    </div>
  </div>
</div>

<div class="cards container mt-5">
  <h5>What our finders have to say:</h5>
  <div class="card-product rounded">
    <img src="https://images.pexels.com/photos/7671745/pexels-photo-7671745.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
    <div class="card-product-infos">
      <h2><em>"Not only are rental studios more expensive, they’re also farther away. StudioFind allows me to find cheaper and more convenient locations for me and my students."</em></h2>
      <p>Sergio Daniel – Contemporary dance instructor</p>
    </div>
  </div>
    <div class="card-product rounded">
    <img src="https://images.pexels.com/photos/6647687/pexels-photo-6647687.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
    <div class="card-product-infos">
      <h2><em>"Playing instruments isn’t allowed in my apartment building. I managed to find a nice studio in my neighborhood for times when I have to do a bit of extra practice for rehearsals. StudioFind is great when you need it."</em></h2>
      <p>Grace Kim – Musician</p>
    </div>
  </div>
  <div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/112811/pexels-photo-112811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
    Become a provider and share your studio
    <div class="mt-4"><%= link_to "Get started", new_user_registration_path, class: "btn btn-banner" %></div>
    </div>
  </div>
