.banner {
  background-size: cover;
  background-position: center;
  height: 50vh;
  .banner-text {
    position: absolute;
    left: 13%;
    top: 24%;
    max-width: 500px;
  }
  i {
    color: white;
    opacity: 1;
  }
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  
  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  
  .banner-search {
    width: 290px;
  }
}

.banner-home {
  background-position: 0% 21%;
}

@media (max-width: 576px) {
  .banner {
    background-position: 28%;
    .banner-text {
      left: 7%;
      top: 25%;
      max-width: 300px;
    }
  }
}
