.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.banner-home {
  background-size: cover;
  background-position: 0% 21%;
  padding: 120px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-search {
  width: 290px;
}
