.btn-gradient {
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #145BA3;
  transition: background-color 500ms ease;
  border: none;
}

.btn-gradient:hover {
  background-color: #3282D1;
  color: $black;
  text-decoration: none;
}

.btn-black {
  color: $white;
  background-color: $black;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  opacity: .85;
}

.btn-black:hover {
  opacity: 1;
  transition: background-color opacity 500ms ease;
}
