.btn-gradient {
  color: $black;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient($green, $light-green);
  transition: background 0.3s ease;
  border: 1px solid $light-green;
}

.btn-gradient:hover {
  background: linear-gradient($green, $light-green);
  color: $black;
}
