.btn-gradient {
  color: $black;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient($mint-green, $light-blue);
  transition: background 500ms ease;
  border: 1px solid $light-blue;
}

.btn-gradient:hover {
  background: linear-gradient($light-blue, $sea-blue)
}

.btn-booking-confirm {
  background-color: $sea-blue;
  width: 88px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  margin: 0 auto;
  text-align: center;
}

.btn-booking-confirm:hover {
  background-color: $mint-green;
}
