.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px 0;
}

.card-body {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 1px 0px 1px rgba(43, 43, 43, .1);
}
