.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.owner-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}


// Booking index
.booking-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px 0;
}

.card-body {
  border-radius: 8px;
  transition: transform opacity 500ms ease;
  opacity: 0.85;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .card-body-img{
    width: 100%;
    height: 127px;
  }
}

.card-body p {
  font-size: 14px;
}

.card-body:hover {
  transform: scale(1.03);
  opacity: 1;
}

// Studio show
.card-info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: $white;
  border-radius: 16px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 16px;
  p {
    margin: 16px;
  }
}

.card-description {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: $white;
  border-radius: 16px;
  width: 100%;
  padding: 16px;
  flex-grow: 1;
  h2 {
    font-weight: bold;
  }
}

// Homepage
.card-product {
  overflow: hidden;
  height: 200px;
  width: 450px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-review {
  display: flex;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  width: 100%;
  padding: 32px;
  flex-direction: column;
  text-align: end;
  margin: 32px;
}

.card-category-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card-category i {
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.cards-home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-home-intro {
  text-align: center;
  margin: 24px auto;
  i {
    margin: 48px 16px 48px 16px;
    font-size: 32px;
    color: black;
  }
  p {
    margin: 0px 300px;
  }
}

.cards-owner-booking {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 1px 1px 0px 1px rgba(43, 43, 43, .1);
  margin: 8px 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    .image-owner-booking {
      border-radius: 4px;
      box-shadow: 0.5px 0.5px 0px 1px rgba(43, 43, 43, .1);
    }
}

.cards-owner-booking-grow {
  margin-left: 16px;
  padding: 8px;
  flex-grow: 1;
    p {
      margin-bottom: 1px;
    }
}

.cards-confirmation {
  padding: 8px;
  margin-right: 16px;
  text-align: center;
}
