#map {
  margin-left: 32px;
  display: block;
  min-height: 100vh;
  position: sticky;
  top: 57px;
}

.mapboxgl-popup {
  max-width: 200px;
  padding: 4px;
}

.mapboxgl-popup-content {
  text-align: center;
  margin-bottom: 8px;
}

.map-info-container {
  margin-top: 8px;
  width: 184px;
    h5 {
      margin-bottom: 0;
    }
}

.info-window-image {
  margin-top: 8px;
  margin-bottom: 12px;
}
