.mapboxgl-popup {
  max-width: 200px;
  padding: 4px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.map-info-container {
  margin-top: 8px;
  width: 184px;
}

.info-window-image {
  margin-bottom: 16px;
}
