.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 8vh;
  position: sticky;
  top: 0;
  z-index: 5;


  .nav-link {
    color: rgba(0,0,0,1);
    padding: 8px;
    text-decoration: none;
    margin-right: 8px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-logo, li {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.navbar-left {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .navbar-left .nav-link {
    padding-left: 0;
  }
}