.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 8vh;
  position: sticky;
  top: 0;
  z-index: 1;


  .nav-link {
    color: rgba(0,0,0,1);
    padding: 8px;
    text-decoration: none;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin: 10px 0px 0px 0px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
