<div class="map-info-container">
  <%= cl_image_tag(studio.photos.first.key, width: 184, height: 184, crop: :fill, class: "info-window-image") %>
  <h5><%= studio.name %></h5>
  <p><%= studio.location %></p>
  <%= link_to 'View Studio', studio_path(studio.id), class: 'btn-gradient' %>
</div>
